@using RestrantApplication.Core.ViewModels.Order
@model IReadOnlyList<OrderViewModel>
@{
    ViewData["Title"] = "GetAllOrdersThrout24HoursForEmployees";
}



<div class="container">
    <main role="main" class="pb-3">
        <br /><br />
        <h1>GetAllOrdersThrout24HoursForEmployees</h1>
        <br />
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (Model.Any())
        {
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr>

                        <th>Order Date</th>
                        <th>Order Address</th>
                        <th>Order State</th>
                        <th>Order Type</th>
                        <th>Prise of Order</th>
                        @if (User.IsInRole("Manger"))
                        {
                            <th>Cancel Order</th>
                            <th>Processing Order</th>
                            <th>Complete Order</th>
                            <th>DeliveryNow Order</th>
                            <th>DelivaryDone Order</th>
                        }
                        <th>Details Of Order</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrderDate</td>
                            <td>@item.ApplictionUser.Address</td>
                            <td>@item.orderState</td>
                            <td>@item.orderType</td>
                            <td>@item.TotalAmount</td>
                            @if (User.IsInRole("Manger"))
                            {
                                <td><a asp-route-orderId="@item.ID" asp-route-orderState="@RestrantApplication.Core.Models.Order.OrderState.Cancelled" asp-action="ChangeOrderState" asp-controller="Order">Cancel Order</a></td>
                                <td><a asp-route-orderId="@item.ID" asp-route-orderState="@RestrantApplication.Core.Models.Order.OrderState.Processing" asp-action="ChangeOrderState" asp-controller="Order">Processing Order</a></td>
                                <td><a asp-route-orderId="@item.ID" asp-route-orderState="@RestrantApplication.Core.Models.Order.OrderState.Completed" asp-action="ChangeOrderState" asp-controller="Order">Complete Order</a></td>
                                if (item.orderType == RestrantApplication.Core.Models.Order.OrderType.Delivery)
                                {
                                    <td><a asp-route-orderId="@item.ID" asp-route-orderState="@RestrantApplication.Core.Models.Order.OrderState.DeliveryNow" asp-action="ChangeOrderState" asp-controller="Order">DeliveryNow Order</a></td>
                                    <td><a asp-route-orderId="@item.ID" asp-route-orderState="@RestrantApplication.Core.Models.Order.OrderState.DelivaryDone" asp-action="ChangeOrderState" asp-controller="Order">DelivaryDone Order</a></td>
                                }
                                else
                                {
                                    <td>Order type Restrant Not Delivary</td>
                                    <td>Order type Restrant Not Delivary</td>
                                }
                            }
                            <td><a asp-route-orderId="@item.ID" asp-controller="Order" asp-action="GetOrderDetails">Details Order</a></td>
                        </tr>
                    }
                </tbody>

            </table>
            <h6 class="text-Danger"> Hint : Payment upon receipt </h6>
            <br />
            <br />
        }
        else
        {
            <br />
            <h4>Not Found Any Orders</h4>
            <br />


        }
        <a class="btn btn-primary" asp-action="Menu" asp-controller="Product">ADD Item in Cart</a>
        <a class="btn btn-primary" asp-action="GetAllReviewsForCurrentUser" asp-controller="Review">Review To Restrant</a>
    </main>
</div>